html, body {
    background-color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.tt {
    font-family: monospace;
}
.license .ref {
    position: relative;
}
.license .hidden {
    visibility: hidden;
    position: absolute;
    bottom: 0em;
    /*white-space: pre;*/
    background-color: #D0D0D0;
    border: solid 1px white;
    padding: 2px;
    margin-left: 15%;
    margin-right: 15%;
}
.license:hover .hidden {
    /*display: block;*/
    visibility: visible;
}
.node {
    position: relative;
}
.sub {
    padding-left: 1.5em;
    border-left: solid 1px #E0E0E0;
}
.head {
    height: 1em;
    white-space: nowrap;
}
.node:hover > .head, .node.hover > .head {
    color: darkblue;
    font-weight: bold;
}
.node:hover > .head:hover, .node.hover > .head.hover {
    color: blue;
}
.node.collapsed {
    font-style: italic;
}
.node.collapsed > .sub {
    display: none;
}
.node.collapsed.hover > .sub {
    display: block;
}
.value {
    display: none;
    position: absolute;
    z-index: 2;
    top: 1.2em;
    left: 0;
    background-color: #D0D0D0;
    border: solid 1px white;
    padding: 2px;
}
.head:hover + .value, .head.hover + .value {
    display: block;
}
.preview {
    margin-left: 1em;
    color: #505050;
    font-weight: normal;
}
.preview > .oid {
    margin-left: 1em;
    color: #808080;
    font-weight: normal;
}
.spaces {
    font-size: 0px;
}
#tree {
    font-family: monospace;
}
#tree > p {
    font-family: Arial, Helvetica, sans-serif;
}
#dump {
    z-index: 1;
    background-color: #C0C0C0;
    border: solid 1px #E0E0E0;
    font-family: monospace;
    white-space: pre;
    padding: 2px;
}
#dump .tag             { color: blue; }
#dump .dlen            { color: darkcyan; }
#dump .ulen            { color: darkgreen; }
#dump .intro           { color: blue; }
#dump .outro           { color: darkgreen; }
#dump .skip            { color: #666666; background-color: #C0C0C0; }
#dump .hexCurrent      { background-color: #808080; }
#dump .hexCurrent .hex { background-color: #A0A0A0; }
#dump .hexCurrent .dlen { color: #004040; }
#file { display: none; }
