html, body {
    background-color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
}
.node {
    font-family: monospace;
}
.sub {
    padding-left: 1.5em;
    border-left: solid 1px #E0E0E0;
}
.node:hover > .head {
    color: darkblue;
}
.node:hover > .head:hover {
    color: blue;
}
.node.collapsed {
    font-weight: bold;
}
.node.collapsed > .sub {
    display: none;
}
#dump {
    font-family: monospace;
    width: 30em;
}
#dump .hexCurrent > .head {
    color: blue;
}
#dump .hexCurrent > .intro {
    color: green;
}
#dump .hexCurrent > .outro {
    color: green;
}
#dump .hexCurrent {
    background-color: #E0E0E0;
}
