html, body {
    background-color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
}
.node {
    font-family: monospace;
    position: relative;
}
.sub {
    padding-left: 1.5em;
    border-left: solid 1px #E0E0E0;
}
.head {
    height: 1em;
}
.node:hover > .head {
    color: darkblue;
    font-weight: bold;
}
.node:hover > .head:hover {
    color: blue;
}
.node.collapsed {
    font-style: italic;
}
.node.collapsed > .sub {
    display: none;
}
.value {
    display: none;
    position: absolute;
    z-index: 2;
    top: 1.2em;
    left: 0;
    background-color: #D0D0D0;
    border: solid 1px white;
}
.head:hover + .value {
    display: block;
}
#dump {
    font-family: monospace;
    width: 30em;
}
#dump .tag             { color: blue; }
#dump .dlen            { color: darkcyan; }
#dump .ulen            { color: darkgreen; }
#dump .intro           { color: blue; }
#dump .outro           { color: darkgreen; }
#dump .hexCurrent      { background-color: #808080; }
#dump .hexCurrent .hex { background-color: #A0A0A0; }
